body {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
}
.four_tiles {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
}
.left_content {
    display: flex;
    flex: 1;
    margin-right: 10px;

}
.right_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}
.bot_content {
    display: flex;
}



.collection {
    margin: 0 10px;
}
.photo-text {
    position: relative;
    z-index: 10;
    display: inline-block;
}
.photo-text h2 span{
    position: absolute;
    transform: rotate(-90deg);
    bottom: 70px;
    left: -10px;
    font-weight: 1200;
}
.photo-text h2 span::after {
    content: '';
    width: 30px;
    height: 1px;
    margin-left: 16px;
    position: absolute;
    bottom: 10px;
    vertical-align: middle;
    background-color: red;
}
.collection:hover img, .slide:hover img {
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
.zdj{
    margin-left: 400px;
}
 .slide{
     float: left;
     width: 250px;
     height: 500px;
     margin: 5px;
 }
 .slide img{
     height: 300px;
     width: 250px;
 }
 .slide h3{
     text-align: center;
     font-size: 11px;
     color: gray;
 }
 .slide h1{
     text-align: center;
     font-size: 22px;
     color: black;

 }
 .slide h1:hover{
     color: orangered;
 }
 .slide h2{
     text-align: center;
    color: orangered;
    font-size: 16px;
 }
.orange_line{
    margin-left: 915px;
    border-top: orangered solid 1px;
    width:30px
}
.top h3{
    text-align: center;
    font-size: 50px;
    color: rgb(70, 66, 65);
}







